<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <%- include ('../partials/head.ejs') -%>
</head>
<body>

<div class="marginbottom">
    <h1>Sign in page</h1>
</div>
<div class="user">
    <form action="/session/verify" method="POST"><!--to page where post, find user is executed-->
        Username: <input type="text" name="username" id="username" placeholder="<   Fill here   >"><br><br>
        Password: <input type="password" name="password" id="password" placeholder="<   Fill here   >"><br><br>
        <input type="submit" value="Login"><br><br>
    </form>
    
        <a href="/user/signup/new">Create free account now</a>

</div>
</body>
</html>